<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Test html</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
    </head>
    <body>
    <ul id="tab">
        <li v-if="cos1 > 0">tab {{ cos1 }}</li>
        <li>tab {{ cos2 }}</li>
        <li>tab {{ cos3 }}</li>
        <li v-for="item in array">
            {{ item.label  +' ' + item.number }}
            <a :href='item.url'>{{ item.label}}</a>
        </li>
        <li>Total {{ totalPrice }}</li>
    </ul>
    <script>
        const app = new Vue({
            el: '#tab',
            data : {
                cos1 : 10,
                cos2 : 50,
                cos3 : 5,
                array : [
                    {
                        label : 'LUFUNGULA',
                        number : 150,
                        url : 'index.html'
                    }
                ]
            },
           computed : {
            totalPrice(){
                return this.cos1+this.cos2+this.cos3
            }
           } 
        })
    </script>
    </body>
</html>